<ion-toolbar color="dark">
  <ion-buttons slot="start">
    <ion-button (click)="back()">
      <ion-icon name="caret-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Categorias</ion-title>
</ion-toolbar>

<ion-content color="medium">

  <ng-container *ngIf="loading == true">
    <img src="../../assets/imagenes/loading.gif" class="icon">
  </ng-container>

  <ng-container *ngIf="loading == false">
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button color="dark">
        <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button color="success" (click)="create(0)">
          <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  
    <ion-card shape="round" *ngFor="let categoria of categoriasOrganizar();let i=index" (click)="create(categoria.id)">
      <ion-card-header>
        <ion-card-title>{{i+1}}.{{categoria.nombre}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ng-container>

</ion-content>
